CURRENCIES_URL=localhost
AUTH_URL=localhost
TRANSACTIONS_URL=localhost
CATEGORIES_URL=localhost
AUTH_PORT=3000
CURRENCIES_PORT=3001
TRANSACTIONS_PORT=3003
CATEGORIES_PORT=3004
CURRENCIES_GRPC_PORT=3002
CATEGORIES_GRPC_PORT=3005
DEBUG_MODE=1
JWT_SECRET=
JWT_TOKEN_EXPIRES_IN=24h
PASSWORD_HASH_ROUNDS_COUNT=10
SSL_KEY_FILE_PATH=
SSL_CERT_FILE_PATH=
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=<if necessary>
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=fm-admin@noreply.com
MAIL_TEMPLATES_PATH=libs/transport/src/mail_templates
POSTGRES_DB=
POSTGRES_PASSWORD=
ELASTICSEARCH_NODE=http://localhost:9200
KAFKA_ADVERTISED_HOST_NAME=localhost
KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
KAFKA_CREATE_TOPICS=mailing:1:1,metrics:1:1,sheduledUsersForDelete:1:1 # 1 replica, 1 partiotion for topic
