dist/
node_modules/
coverage/
.vscode/
generated/
.env
.graphqlconfig.yml
src/infrastructure/persistance/prisma/prisma-types.graphql
src/infrastructure/persistance/prisma/prisma.binding.ts
src/infrastructure/graphql.schema.generated.ts
ssl/